html, body {
    height: 100%;
}
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: normal;
    font-family: codelight;
}
body {
  font-family: 'Karla', sans-serif;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
a:hover { text-decoration: none }
/*.header-top-area a {
   color: #5b3f61;
   display: inline-block;
   padding: 12px;
}*/
.header-top-area {
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 9;
}
/*.header-left ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.header-left li{
  display: inline-block;
}
.header-top-area a.menu-trigger {
    display: none;
}
.header-right {
    text-align: right;
}
.search-triger i.fa{
  padding-left: 5px;
}*/
.homepage-slider-wrap{
  background-image: url('../images/hero.jpg');
  background-color: #ddd;
  background-size: cover;
  background-position: center;
  height: 100%;
}
.single-slider-items {
    position: relative;
}
.single-slider-items img {
    position: absolute;
    left: 50%;
    width: 700px;
    margin-left: -350px;
    bottom: 0px;
}
.slider-text-table {
    display: table;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 9;
}
.slider-text-tablecell {
    display: table-cell;
    vertical-align: middle;
    padding-left: 6%;
    font-family: codelight;
    font-size: 120px;
    line-height: 112px;
    color: #e84f88;
}
.owl-carousel .owl-item .single-slider-items img {
    width: auto;
}
.homepage-slider-wrap .owl-nav div {
    position: absolute;
    top: 50%;
    left: 0%;
    line-height: 40px;
    margin-top: -20px;
    color: #e84f88;
    font-size: 20px;
    transition: .3s;
    opacity: 0; 
}
.homepage-slider-wrap :hover .owl-nav div{
  left: 5%;
  opacity: 1
}
.homepage-slider-wrap .owl-nav div .owl-next{
  left:auto;
  right: 0;
}
.homepage-slider-wrap:hover .owl-nav .owl-next{
  left:auto;
  right: 5%;
}
.homepage-slider-wrap .owl-nav, .homepage-slider-wrap .owl-nav div {
    height: auto;
}
.homepage-slider-wrap .owl-nav .owl-next {
    left: auto;
    right: 5%;
}
.slider-text-tablecell strong {

}
.slider-alternative-color {
    color: #6db0c6;
}
.homepage-slider-wrap div {
    height: 100%;
}